site_name: Eins

nav:
  - Home: index.md
  - Tutorial: tutorial.md
  - Advanced Eins: in-depth.md
  - API Reference: $api/eins.***

plugins:
- search
- exclude-search:
    exclude:
      - src/eins/*
- mkapi
- social
- privacy

theme:
  name: material
  palette:
    - scheme: default
      primary: pink
      accent: red
      toggle:
        icon: fontawesome/solid/moon
        name: Switch to dark mode
    - scheme: slate
      primary: pink
      accent: red
      toggle:
        icon: fontawesome/solid/sun
        name: Switch to light mode
  font: false
  features:
    - content.tooltips
    - content.code.copy
    - navigation.top
    - navigation.expand
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.path
    - search.suggest
    - search.highlight
    - search.share
    - toc.integrate

  icon:
    - code: fontawesome/brands/github


repo_url: https://github.com/nicholas-miklaucic/eins
markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite:
      style_plain_text: 'python'
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - javascripts/katex.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  - stylesheets/extra.css