@font-face {
    font-family: Cascadia Code;
    font-style: normal;
    font-weight: 400;
    src: local('Cascadia Code'), url("CascadiaCode.woff2") format('woff2')
}

@font-face {
    font-family: Cascadia Code;
    font-style: italic;
    font-weight: 400;
    src: local('Cascadia Code Italic'), url("CascadiaCodeItalic.woff2") format('woff2')
}

@font-face {
    font-family: "Instrument Sans";
    font-style: normal;
    font-weight: 400;
    src: url("InstrumentSans[wdth\,wght].ttf") format('woff2');
    font-variation-settings: "wght" 430, "wdth" 90;
}

@font-face {
    font-family: "Instrument Sans";
    font-style: normal;
    font-weight: 700;
    src: url("InstrumentSans[wdth\,wght].ttf") format('woff2');
    font-variation-settings: "wght" 700, "wdth" 90;
}

@font-face {
    font-family: "Instrument Sans";
    font-style: italic;
    font-weight: 400;
    src: url("InstrumentSansItalic[wdth\,wght].ttf") format('woff2');
    font-variation-settings: "wght" 430, "wdth" 90;
}

@font-face {
    font-family: "Instrument Sans";
    font-style: italic;
    font-weight: 700;
    src: url("InstrumentSansItalic[wdth\,wght].ttf") format('woff2');
    font-variation-settings: "wght" 700, "wdth" 90;
}


:root {
    --md-code-font: "Cascadia Code";
    --md-text-font: "Instrument Sans";
}

.md-typeset {
    font-size: 0.88rem;
    line-height: 1.25;
}

.md-typeset code {
    font-size: 0.77rem;
    line-height: 1.25;
}

.md-typeset .admonition,
.md-typeset table:not([class]) {
    font-size: 0.8rem;
}